.f-card {
    $s: &;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 1240px;
    height: 800px;
    border-radius: 70px;
    overflow: hidden;

    &__mark {
        $m: &;
        position: relative;
        width: 180px;
        height: 180px;
        background-size: contain;
        background: center;
        background-image: url('../img/star-pattern.svg');
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Euclid Circular A";
        font-weight: 600;
        font-size: 21.86px;
        line-height: 112.99999999999999%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #fff;

        &._custom {
            background-image: url('../img/star-pattern-2.svg');
        }

        &._big {
            width: 234px;
            height: 234px;
            flex-direction: column;
            background-size: 234px 234px;

            #{$m} {
                &-title {
                    font-family: "Euclid Circular A";
                    font-weight: 600;
                    font-size: 25.26px;
                    line-height: 113%;
                    letter-spacing: -0.01em;
                    text-align: center;
                    margin-bottom: 4px;
                }

                &-text {
                    max-width: 152px;
                    font-family: "Euclid Circular A";
                    font-weight: 500;
                    font-size: 19.82px;
                    line-height: 113%;
                    letter-spacing: -0.01em;
                    text-align: center;
                }
            }
        }

        &-icons {
            margin-bottom: 20px;
            height: 35px;

            .icon {
                position: absolute;
            }

            .icon_1 {
                width: 37px;
                height: 37px;
                left: 70px;
                top: 53px;
            }

            .icon_2 {
                width: 23px;
                height: 23px;
                left: 136px;
                top: 44px;
            }

            .icon_3 {
                width: 47px;
                height: 47px;
                left: 124px;
                top: 54px;
            }

            .icon_4 {
                width: 25px;
                height: 25px;
                left: 60px;
                top: 70px;
            }

            .icon_5 {
                width: 22px;
                height: 22px;
                left: 94px;
                top: 32px;
            }
        }
    }

    &__video {
        position: absolute;
        inset: 0;
    }

    &._1 {
        #{$s} {
            &__top {
                position: absolute;
                top: 52px;
                left: 50%;
                translate: -50% 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 32px;

                &-title {
                    font-family: "Euclid Circular A";
                    font-weight: 600;
                    font-size: 47.93px;
                    line-height: 101%;
                    letter-spacing: -0.01em;
                    text-align: center;
                    vertical-align: middle;
                    color: rgba(75, 75, 75, 1);
                }

                &-label {
                    padding: 10px 29px;
                    box-shadow: 15.63px 13.17px 24.68px -4.94px rgba(65, 60, 57, 0.21);
                    background: rgba(255, 255, 255, 1);
                    color: rgba(75, 75, 75, 1);
                    border-radius: 50px;
                    font-family: "Euclid Circular A";
                    font-weight: 600;
                    font-size: 53.03px;
                    line-height: 101%;
                    letter-spacing: -0.01em;
                    vertical-align: middle;
                    text-transform: uppercase;
                }
            }

            &__mid {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: 674px;
            }

            &__col {
                position: absolute;
                bottom: 50px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                &._left {
                    left: 52px;
                    align-items: flex-start;
                }

                &._right {
                    right: 52px;
                    align-items: flex-end;
                }

                &-label {
                    font-family: "Euclid Circular A";
                    font-weight: 600;
                    font-size: 27.73px;
                    line-height: 127%;
                    letter-spacing: -0.01em;
                    text-align: right;
                    vertical-align: middle;
                    padding: 10px 28px;
                    border-radius: 34px;

                    &._light {
                        color: rgba(75, 75, 75, 1);
                        background-color: #fff;
                    }

                    &._dark {
                        background-color: rgba(75, 75, 75, 1);
                        color: #fff;
                    }
                }
            }
        }
    }

    &._2 {
        #{$s} {
            &__content {
                position: absolute;
                right: 100px;
                top: 272px;
                width: 344px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &-title {
                    font-family: "Euclid Circular A";
                    font-weight: 600;
                    font-size: 60.45px;
                    line-height: 101%;
                    letter-spacing: -0.01em;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    margin-bottom: 34px;
                }

                &-text {
                    font-family: "Montserrat";
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 167%;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #fff;
                    margin-bottom: 39px;
                }

                &-label {
                    font-family: "Euclid Circular A";
                    font-weight: 600;
                    font-size: 27.73px;
                    line-height: 127%;
                    letter-spacing: -0.01em;
                    text-align: right;
                    padding: 10px 29px;
                    border-radius: 60px;
                    background-color: #fff;
                    color: rgba(75, 75, 75, 1);
                }
            }

            &__decor {
                position: absolute;
                left: 128px;
                bottom: 0;
            }

            &__mark {
                position: absolute;
                left: 43px;
                top: 35px;

                &-text {
                    transform: rotate(-11deg);
                }
            }
        }
    }

    &._3 {
        #{$s} {

            &__content {
                position: absolute;
                z-index: 1;
                right: 90px;
                top: 106px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &-title {
                    font-family: "Euclid Circular A";
                    font-weight: 600;
                    font-size: 60.45px;
                    line-height: 101%;
                    letter-spacing: -0.01em;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    margin-bottom: 44px;
                    max-width: 450px;
                }

                &-text {
                    font-family: "Montserrat";
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 188%;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #fff;
                    margin-bottom: 55px;
                    max-width: 311px;
                }

                &-pic {
                    width: 310px;
                    height: 310px;
                }
            }
        }
    }

    &._4 {
        #{$s} {
            &__content {
                position: absolute;
                top: 54px;
                right: 67px;

                &-title {
                    font-family: "Euclid Circular A";
                    font-weight: 600;
                    font-size: 45.35px;
                    line-height: 122%;
                    letter-spacing: -0.01em;
                    text-align: right;
                    text-transform: uppercase;
                    margin-bottom: 14px;
                    color: rgba(75, 75, 75, 1);
                }

                &-text {
                    font-family: "Euclid Circular A";
                    font-weight: 600;
                    font-size: 34.87px;
                    line-height: 112%;
                    letter-spacing: -0.01em;
                    text-align: right;
                    color: rgba(115, 115, 115, 1);
                }
            }

            &__mark {
                position: absolute;
                right: 46px;
                bottom: 38px;
            }
        }
    }

    &._5 {
        #{$s} {
            &__title {
                position: absolute;
                right: 100px;
                top: 52px;
                font-family: "Euclid Circular A";
                font-weight: 600;
                font-size: 61px;
                line-height: 115%;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                color: #fff;
            }

            &__mark {
                position: absolute;

                &._1 {
                    top: 138px;
                    right: 173px;
                    z-index: 2;
                }

                &._2 {
                    top: 264px;
                    right: 37px;
                }
            }
        }
    }
}