@font-face {
  font-family: 'Montserrat';
  src: url('/hair-styler/dist/fonts/Montserrat-Medium.woff2') format('woff2'),
       url('/hair-styler/dist/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Euclid Circular A';
  src: url('/hair-styler/dist/fonts/EuclidCircularA-Medium.woff2') format('woff2'),
       url('/hair-styler/dist/fonts/EuclidCircularA-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Euclid Circular A';
  src: url('/hair-styler/dist/fonts/EuclidCircularA-SemiBold.woff2') format('woff2'),
       url('/hair-styler/dist/fonts/EuclidCircularA-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}