h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(127, 120, 117, 1);
}

img {
    display: block;
}